## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt1 = class_counts.loc[class_counts > 1]
class_counts_gt1.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="relu"))


# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                440

 dense_1 (Dense)             (None, 5)                 55

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 501 (1.96 KB)
Trainable params: 501 (1.96 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 770us/step - loss: 1.0923 - accuracy: 0.6740
Epoch 2/50
804/804 [==============================] - 1s 747us/step - loss: 0.6741 - accuracy: 0.7093
Epoch 3/50
804/804 [==============================] - 1s 752us/step - loss: 0.5944 - accuracy: 0.7193
Epoch 4/50
804/804 [==============================] - 1s 747us/step - loss: 0.5853 - accuracy: 0.7243
Epoch 5/50
804/804 [==============================] - 1s 749us/step - loss: 0.5787 - accuracy: 0.7260
Epoch 6/50
804/804 [==============================] - 1s 746us/step - loss: 0.5751 - accuracy: 0.7274
Epoch 7/50
804/804 [==============================] - 1s 743us/step - loss: 0.5706 - accuracy: 0.7285
Epoch 8/50
804/804 [==============================] - 1s 742us/step - loss: 0.5693 - accuracy: 0.7280
Epoch 9/50
804/804 [==============================] - 1s 746us/step - loss: 0.5679 - accuracy: 0.7291
Epoch 10/50
804/804 [==============================] - 1s 757us/step - loss: 0.5665 - accuracy: 0.7307
Epoch 11/50
804/804 [==============================] - 1s 739us/step - loss: 0.5645 - accuracy: 0.7294
Epoch 12/50
804/804 [==============================] - 1s 774us/step - loss: 0.5618 - accuracy: 0.7294
Epoch 13/50
804/804 [==============================] - 1s 747us/step - loss: 0.5604 - accuracy: 0.7308
Epoch 14/50
804/804 [==============================] - 1s 756us/step - loss: 0.5595 - accuracy: 0.7323
Epoch 15/50
804/804 [==============================] - 1s 746us/step - loss: 0.5591 - accuracy: 0.7319
Epoch 16/50
804/804 [==============================] - 1s 750us/step - loss: 0.5583 - accuracy: 0.7317
Epoch 17/50
804/804 [==============================] - 1s 760us/step - loss: 0.5583 - accuracy: 0.7326
Epoch 18/50
804/804 [==============================] - 1s 768us/step - loss: 0.5583 - accuracy: 0.7331
Epoch 19/50
804/804 [==============================] - 1s 752us/step - loss: 0.5590 - accuracy: 0.7323
Epoch 20/50
804/804 [==============================] - 1s 750us/step - loss: 0.5615 - accuracy: 0.7311
Epoch 21/50
804/804 [==============================] - 1s 743us/step - loss: 0.5554 - accuracy: 0.7305
Epoch 22/50
804/804 [==============================] - 1s 753us/step - loss: 0.5523 - accuracy: 0.7325
Epoch 23/50
804/804 [==============================] - 1s 746us/step - loss: 0.5525 - accuracy: 0.7336
Epoch 24/50
804/804 [==============================] - 1s 738us/step - loss: 0.5523 - accuracy: 0.7335
Epoch 25/50
804/804 [==============================] - 1s 742us/step - loss: 0.5533 - accuracy: 0.7334
Epoch 26/50
804/804 [==============================] - 1s 753us/step - loss: 0.5528 - accuracy: 0.7331
Epoch 27/50
804/804 [==============================] - 1s 752us/step - loss: 0.5524 - accuracy: 0.7324
Epoch 28/50
804/804 [==============================] - 1s 739us/step - loss: 0.5522 - accuracy: 0.7339
Epoch 29/50
804/804 [==============================] - 1s 740us/step - loss: 0.5517 - accuracy: 0.7335
Epoch 30/50
804/804 [==============================] - 1s 762us/step - loss: 0.5520 - accuracy: 0.7330
Epoch 31/50
804/804 [==============================] - 1s 747us/step - loss: 0.5524 - accuracy: 0.7319
Epoch 32/50
804/804 [==============================] - 1s 755us/step - loss: 0.5521 - accuracy: 0.7327
Epoch 33/50
804/804 [==============================] - 1s 742us/step - loss: 0.5513 - accuracy: 0.7332
Epoch 34/50
804/804 [==============================] - 1s 762us/step - loss: 0.5520 - accuracy: 0.7333
Epoch 35/50
804/804 [==============================] - 1s 795us/step - loss: 0.5514 - accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 1s 759us/step - loss: 0.5512 - accuracy: 0.7326
Epoch 37/50
804/804 [==============================] - 1s 764us/step - loss: 0.5512 - accuracy: 0.7333
Epoch 38/50
804/804 [==============================] - 1s 748us/step - loss: 0.5512 - accuracy: 0.7336
Epoch 39/50
804/804 [==============================] - 1s 753us/step - loss: 0.5513 - accuracy: 0.7337
Epoch 40/50
804/804 [==============================] - 1s 732us/step - loss: 0.5512 - accuracy: 0.7333
Epoch 41/50
804/804 [==============================] - 1s 741us/step - loss: 0.5505 - accuracy: 0.7336
Epoch 42/50
804/804 [==============================] - 1s 753us/step - loss: 0.5516 - accuracy: 0.7331
Epoch 43/50
804/804 [==============================] - 1s 804us/step - loss: 0.5510 - accuracy: 0.7331
Epoch 44/50
804/804 [==============================] - 1s 770us/step - loss: 0.5506 - accuracy: 0.7337
Epoch 45/50
804/804 [==============================] - 1s 749us/step - loss: 0.5503 - accuracy: 0.7325
Epoch 46/50
804/804 [==============================] - 1s 751us/step - loss: 0.5505 - accuracy: 0.7329
Epoch 47/50
804/804 [==============================] - 1s 783us/step - loss: 0.5508 - accuracy: 0.7338
Epoch 48/50
804/804 [==============================] - 1s 745us/step - loss: 0.5503 - accuracy: 0.7331
Epoch 49/50
804/804 [==============================] - 1s 739us/step - loss: 0.5499 - accuracy: 0.7334
Epoch 50/50
804/804 [==============================] - 1s 758us/step - loss: 0.5500 - accuracy: 0.7326

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7279 - 275ms/epoch - 1ms/step
Loss: 0.556004524230957, Accuracy: 0.7279300093650818

In [16]:
# Export our model to HDF5 file

# Save the model to a HDF5 file
nn_model.save('AlphabetSoupCharity.h5')

c:\Users\starb\anaconda3\envs\pythondata\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(