## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
countsA = application_df['NAME'].value_counts()
countsA

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
# use the variable name names_replace
names_replace = list(countsA[countsA<5].index)

In [6]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: count, Length: 403, dtype: int64

In [8]:
# Look at APPLICATION TYPE counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:

# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [11]:

# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [13]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values

# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [16]:

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization 1 Adding more Neuron layers

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
units_1 = 75
units_2 = 30
input_features = len(X_train_scaled[0])
nn_model1 = tf.keras.models.Sequential()

# First hidden layer
nn_model1.add(tf.keras.layers.Dense(units=units_1, input_dim = input_features, activation = "relu"))

# Second hidden layer
nn_model1.add(tf.keras.layers.Dense(units=units_2, activation = "relu"))

# Output layer
nn_model1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 75)                33975

 dense_1 (Dense)             (None, 30)                2280

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 36286 (141.74 KB)
Trainable params: 36286 (141.74 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
# Compile the model
nn_model1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [27]:
# Train the model
fit_model = nn_model1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 917us/step - loss: 0.4018 - accuracy: 0.8097
Epoch 2/50
804/804 [==============================] - 1s 913us/step - loss: 0.4002 - accuracy: 0.8103
Epoch 3/50
804/804 [==============================] - 1s 873us/step - loss: 0.3996 - accuracy: 0.8107
Epoch 4/50
804/804 [==============================] - 1s 878us/step - loss: 0.4000 - accuracy: 0.8097
Epoch 5/50
804/804 [==============================] - 1s 903us/step - loss: 0.3997 - accuracy: 0.8101
Epoch 6/50
804/804 [==============================] - 1s 929us/step - loss: 0.3993 - accuracy: 0.8102
Epoch 7/50
804/804 [==============================] - 1s 894us/step - loss: 0.3989 - accuracy: 0.8098
Epoch 8/50
804/804 [==============================] - 1s 893us/step - loss: 0.3991 - accuracy: 0.8106
Epoch 9/50
804/804 [==============================] - 1s 874us/step - loss: 0.3990 - accuracy: 0.8103
Epoch 10/50
804/804 [==============================] - 1s 910us/step - loss: 0.3981 - accuracy: 0.8091
Epoch 11/50
804/804 [==============================] - 1s 877us/step - loss: 0.3984 - accuracy: 0.8103
Epoch 12/50
804/804 [==============================] - 1s 917us/step - loss: 0.3985 - accuracy: 0.8113
Epoch 13/50
804/804 [==============================] - 1s 872us/step - loss: 0.3986 - accuracy: 0.8105
Epoch 14/50
804/804 [==============================] - 1s 880us/step - loss: 0.3981 - accuracy: 0.8101
Epoch 15/50
804/804 [==============================] - 1s 924us/step - loss: 0.3982 - accuracy: 0.8106
Epoch 16/50
804/804 [==============================] - 1s 938us/step - loss: 0.3974 - accuracy: 0.8107
Epoch 17/50
804/804 [==============================] - 1s 879us/step - loss: 0.3977 - accuracy: 0.8110
Epoch 18/50
804/804 [==============================] - 1s 874us/step - loss: 0.3972 - accuracy: 0.8105
Epoch 19/50
804/804 [==============================] - 1s 875us/step - loss: 0.3974 - accuracy: 0.8103
Epoch 20/50
804/804 [==============================] - 1s 906us/step - loss: 0.3971 - accuracy: 0.8105
Epoch 21/50
804/804 [==============================] - 1s 880us/step - loss: 0.3973 - accuracy: 0.8106
Epoch 22/50
804/804 [==============================] - 1s 876us/step - loss: 0.3966 - accuracy: 0.8113
Epoch 23/50
804/804 [==============================] - 1s 906us/step - loss: 0.3968 - accuracy: 0.8108
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.3971 - accuracy: 0.8109
Epoch 25/50
804/804 [==============================] - 1s 904us/step - loss: 0.3966 - accuracy: 0.8113
Epoch 26/50
804/804 [==============================] - 1s 959us/step - loss: 0.3966 - accuracy: 0.8112
Epoch 27/50
804/804 [==============================] - 1s 888us/step - loss: 0.3966 - accuracy: 0.8113
Epoch 28/50
804/804 [==============================] - 1s 884us/step - loss: 0.3967 - accuracy: 0.8107
Epoch 29/50
804/804 [==============================] - 1s 882us/step - loss: 0.3962 - accuracy: 0.8108
Epoch 30/50
804/804 [==============================] - 1s 896us/step - loss: 0.3963 - accuracy: 0.8107
Epoch 31/50
804/804 [==============================] - 1s 924us/step - loss: 0.3959 - accuracy: 0.8111
Epoch 32/50
804/804 [==============================] - 1s 906us/step - loss: 0.3961 - accuracy: 0.8119
Epoch 33/50
804/804 [==============================] - 1s 910us/step - loss: 0.3960 - accuracy: 0.8111
Epoch 34/50
804/804 [==============================] - 1s 873us/step - loss: 0.3956 - accuracy: 0.8117
Epoch 35/50
804/804 [==============================] - 1s 874us/step - loss: 0.3960 - accuracy: 0.8117
Epoch 36/50
804/804 [==============================] - 1s 901us/step - loss: 0.3956 - accuracy: 0.8113
Epoch 37/50
804/804 [==============================] - 1s 892us/step - loss: 0.3951 - accuracy: 0.8117
Epoch 38/50
804/804 [==============================] - 1s 881us/step - loss: 0.3952 - accuracy: 0.8115
Epoch 39/50
804/804 [==============================] - 1s 958us/step - loss: 0.3949 - accuracy: 0.8116
Epoch 40/50
804/804 [==============================] - 1s 899us/step - loss: 0.3958 - accuracy: 0.8111
Epoch 41/50
804/804 [==============================] - 1s 881us/step - loss: 0.3954 - accuracy: 0.8112
Epoch 42/50
804/804 [==============================] - 1s 945us/step - loss: 0.3954 - accuracy: 0.8117
Epoch 43/50
804/804 [==============================] - 1s 926us/step - loss: 0.3954 - accuracy: 0.8118
Epoch 44/50
804/804 [==============================] - 1s 952us/step - loss: 0.3955 - accuracy: 0.8114
Epoch 45/50
804/804 [==============================] - 1s 923us/step - loss: 0.3948 - accuracy: 0.8114
Epoch 46/50
804/804 [==============================] - 1s 892us/step - loss: 0.3952 - accuracy: 0.8116
Epoch 47/50
804/804 [==============================] - 1s 880us/step - loss: 0.3952 - accuracy: 0.8111
Epoch 48/50
804/804 [==============================] - 1s 885us/step - loss: 0.3947 - accuracy: 0.8123
Epoch 49/50
804/804 [==============================] - 1s 905us/step - loss: 0.3946 - accuracy: 0.8119
Epoch 50/50
804/804 [==============================] - 1s 882us/step - loss: 0.3945 - accuracy: 0.8112

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5196 - accuracy: 0.7885 - 263ms/epoch - 981us/step
Loss: 0.5195726752281189, Accuracy: 0.7884548306465149

##Accuracy is 78.8%

In [32]:
# Save the model to a HDF5 file
nn_model1.save('AlphabetSoupCharity_optimization.h5')

c:\Users\starb\anaconda3\envs\pythondata\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(